<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <packageRestore>
        <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
             Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-integrated restore. -->
        <add key="enabled" value="True" />
	<PackageReference Include="Microsoft.NETCore.App" Version="2.2.8" />
	<PackageReference Include="Microsoft.CodeCoverage" Version="17.0.0" />	
	
    </packageRestore>
</configuration>



