<?xml version="1.0" encoding="utf-8" ?>
<packages>

	<package id="Microsoft.CodeCoverage" version="16.11.0" targetFramework="net472"/>
	<package id="Nunit" version="3.13.2" targetFramework="net472"/>
	<package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472"/>
	<package id="Selenium.WebDriver.ChromeDriver" version="3.141.0" targetFramework="net472"/>
	<package id="Specflow" version="3.9.40" targetFramework="net472"/>
	<package id="WebDriver.GeckoDriver" version="0.20.1" targetFramework="net472"/>

</packages>
